---
import { Image } from "astro:assets";
import { getImage } from "astro:assets";

const { id, image, category, title, loading = false } = Astro.props;
---
<div class={`relative rounded-2xl max-w-sm mb-4 overflow-hidden shadow-lg inset-shadow-lg inset-shadow-black w-full ${loading ? 'animate-pulse' : ''}`}>
    { loading ? (
        <div class="h-48 bg-gray-200"></div>
        <div class="px-6 pt-4">
            <div class="h-4 bg-gray-200 rounded w-3/4 mb-4"></div>
            <div class="h-3 bg-gray-200 rounded mb-2.5"></div>
            <div class="h-3 bg-gray-200 rounded mb-2.5"></div>
            <div class="h-3 bg-gray-200 rounded"></div>
        </div>
    ) : (
        <div class="absolute inset-0 z-10 w-full h-1/4 mx-auto " style="background: linear-gradient(180deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,0) 100%);">
            <h3 class="font-bold text-xl m-4 text-white">{title}</h3>
        </div>        
        <img src={image} alt={`Bowl of ramen from ${title} (${id})`} width={500} height={500} class="!rounded-b-none" />
        <div class="px-5 py-5">
            <h5 class="text-xl">{id.charAt(0).toUpperCase() + id.slice(1)}</h5>
            <span class="text-gray-500 text-sm">{category}</span>
        </div>
    )}
</div>
